@tailwind base;
@tailwind components;
@tailwind utilities;

.ttt {
    animation: ttt 4s infinite;
}

.xxx {
    animation: xxx 4s infinite;
}

.aaa {
    animation: aaa 5s infinite;
}

@keyframes ttt {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }
}

@keyframes xxx {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(20px);
    }
}

.carousel-container {
    width: 80%;
    position: relative;
    overflow: hidden;
}

.carousel {
    overflow: hidden;
}

.carousel-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.card {
    min-width: 33.333%; /* Show 3 cards at a time */
    box-sizing: border-box;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    flex-shrink: 0;
}

.carousel-dots {
    text-align: center;
    margin-top: 10px;
}

.carousel-dots button {
    background-color: #bbb;
    border: none;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    margin: 0 5px;
    cursor: pointer;
    display: inline-block;
}

.carousel-dots button.active {
    background-color: #007bff;
}


@layer components {
    .display-none {
        @apply hidden;
    }

    #theme-switch {
        @apply h-[50px] w-[50px] p-0 justify-center items-center flex;
    }

    .nav {
        @apply text-dark-lite font-medium text-lg hover:text-dark-deep dark:text-white-deep dark:hover:text-white-lite;
    }

    .button {
        @apply bg-gradient-to-r from-primary2 to-primary1 py-2 px-3 rounded-xl text-white font-semibold;
    }

    .lang {
        @apply transition duration-200 ease-in hover:-translate-y-1 hover:scale-110 cursor-pointer;
    }
}